{% load static %}
<!DOCTYPE html>
<head>
{% load staticfiles %}

<meta name="google-site-verification" content="HJ8xcuYxmP6kFLPPYMExt417CCxA-SYZpXdxMl4hfLI" />

<meta http-equiv="cryptocurrency" content="text/html; charset=utf-8" />
<meta name="riskx" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="blockchain" content="SmartTemplates" />
<meta name="risk management" content="landing page template for saas companies" />
<meta name="keywords" content="riskx is a decentralised risk management platform and ecosystem that enables user to distribute their risk and credit across the network" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<title>Riskx.io | Distributing Risk</title>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

<!-- <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'style2.css' %}"/>
<link rel="stylesheet" href="{% static 'style4.css' %}"/>
<link rel="stylesheet" href="{% static 'responsive.css' %}"/>
<link rel="stylesheet" href="{% static 'style5.css' %}"/>
<!--  -->
	
<!-- Font -->
	
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

<!-- Stylesheets -->

<link href="{% static 'bootstrap.css' %}" rel="stylesheet">


<link href="{% static 'common-css/ionicons.css'%}" rel="stylesheet">


<link rel="stylesheet" href="{% static 'jquery.classycountdown.css' %}" />
	
<link href="{% static 'styles.css' %}" rel="stylesheet">

<link href="{% static 'responsive.css' %}" rel="stylesheet">

<!--  -->

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

</head>
<body>
	<header class="header">
		<div class="header__content header__content--fluid-width">
			<div class="header__logo-title">RISKX.IO</div>
			<div class="header__logo-title2"><img src="{% static 'images/riskx-icon.png' %}"/></div>

			<div class="header__logo-title3">
              <a href="https://t.me/riskx" target="_blank">
                  <img src="{% static 'images/t-icon.png' %}" class="img-responsive" alt="social icon">
              </a>
            </div>



signup

<!-- 			<div class="header__logo-title3"><img src="{% static 'images/t-icon.png' %}"/></div> -->
			<nav class="header__menu">                                                                   
				<ul>
					<li><a class="selected header-link" href="#intro">HOME</a></li>
					<li class="menu-item-has-children"><a href="#features" class="header-link">FEATURES</a>
						<ul class="sub-menu">
							<li><a href="#hiw" class="header-link">TEAM</a></li>
							<li><a href="#clients" class="header-link">MEDIA</a></li>
							<li><a href="#faq" class="header-link">FAQ</a></li>
							<li><a href="#testimonials" class="header-link">EXPLAINER</a></li>
							<li><a href="#support" class="header-link">SUPPORT</a></li>
						</ul>
					</li>

					<li><a href="#roadmap" class="header-link">ROADMAP</a></li>
					<li><a href="#support" class="header-link">CONTACT</a></li>
					<li class="header__btn header__btn--login modal-toggle" data-openpopup="signuplogin" data-popup="login"><a href="#">LOGIN</a></li>
					<li class="header__btn header__btn--signup modal-toggle" data-openpopup="signuplogin" data-popup="signup"><a href="#">BUY TOKENS</a></li>			
				</ul>
			</nav> 
		</div>		
	</header>

	<!-- Section -- intro -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.custom.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/swiper.custom.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

<script src="{% static 'js/bootstrap.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/web3.min.js' %}"></script>
<script src="{% static 'js/truffle-contract.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>