

h1{
  color: #a567fd;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
  text-align:center;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: center;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #a567fd;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #a567fd;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

/* ---------------------------------
4. RIGHT SECTION
--------------------------------- */

.right-section{ position: relative; top: 0; bottom: 0; right: 0; width: 50%; background-size: cover; z-index: 1; }

.right-section:after{ content:''; position: absolute; top: 0; bottom: 0; right: 0; left: 50%; z-index: -2;
	opacity: .3; background: linear-gradient(to right, #23074d, #cc5333); }

#rounded-countdown{ width: 80%; margin: 0 auto; }

